<div class="creature-info-short">
  <img src="{{creature.image}}"
       class="creature-info-short__image">

  <div class="creature-info-short__name">{{creature.name}}</div>

  <div class="creature-info-short__hitpoints"
      [ngStyle]="{'width': hitPointsPercent + '%'}">
  </div>

  <div *ngIf="changeHitPoint"
        class="creature-info-short__effects">
    <div class="change-hitpoints"
        [ngClass]="{ 'change-hitpoints_positive': isPositive }"
        [@flyInOutTop]="isPositive ? 'out' : 'in'">
      {{changeHitPoint}}
    </div>
  </div>
</div>
