<div class="creature-info-short">
  <img src="{{creature.image}}"
       class="creature-info-short__image">

  <div class="creature-info-short__name">{{creature.name}}</div>

  <div class="creature-info-short__hitpoints"
      [ngStyle]="{'width': hitPointsPercent + '%'}">
  </div>

  <div *ngIf="changeHitPoint"
        class="creature-info-short__effects"
        [ngClass]="{ 'creature-info-short__effects_positive': isPositive }">
    <div class="change-hitpoints">{{changeHitPoint}}</div>
  </div>
</div>
