
<ion-content class="content" forceOverscroll="false">
  <ion-toolbar class="title">
    <ion-buttons slot="start">
      <gold></gold>
    </ion-buttons>
    <ion-title>Магазин</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="close()">
        Закрыть
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <div class="shop">
    <ul class="shop__menu">
      <li class="shop__menu__button"
          [ngClass]="{'shop__menu__button_active': equipmentPage.typePage === shopService.choosenPageType }"
          (click)="selectTab(equipmentPage.typePage)">
        <div class="shop__menu__button__text">Снаряжение</div>
      </li>
      <li *ngFor="let page of shopAbilitiesPages.pages"
          class="shop__menu__button"
          [ngClass]="{'shop__menu__button_active': page.typePage === shopService.choosenPageType }"
          (click)="selectTab(page.typePage)">
        <div class="shop__menu__button__text">{{page.title}}</div>
      </li>
    </ul>

    <main class="shop__content">
      TODO
    </main>
    <!-- <main [ngSwitch]="" class="shop__content">
      <p *ngSwitchCase="true">

      </p>
      <p *ngSwitchDefault>

      </p>
    </main> -->

    <!-- <ion-tabs #shopTabs (ionChange)="onTabsChange()">
      <ion-tab-bar slot="top">
        <ion-tab-button tab="tabEquipment">
          <ion-icon name="contact"></ion-icon>
          <ion-label>Снаряжение</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngFor="let page of shopAbilitiesPages.pages"
                        [tab]="page.title">
          <ion-icon name="flame"></ion-icon>
          <ion-label>{{page.title}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->

    <div class="shop__footer">
      <div *ngIf="selectedHero || true" class="shop__footer__buy-section">
        <ion-button fill="solid"
                    expand="block"
                    size="small"
                    class="buy-button"
                    [color]="isSelectedAvailable ? 'success' : 'light'"
                    [ngClass]="{'buy-button_available': isSelectedAvailable }"
                    (click)="buy()">
          Купить
        </ion-button>
      </div>

      <div class="shop__footer__heroes">
        <heroes-info-short [heroes]="heroes"
                          [isNewHeroAvailable]="isNewHeroAvailable"
                          (addedHero)="addHero($event)"
                          (selectedHero)="choseHero($event)"></heroes-info-short>
      </div>
    </div>
  </div>
</ion-content>
