
<ion-content class="content" forceOverscroll="false">
  <ion-toolbar class="title">
    <ion-buttons slot="start">
      <gold></gold>
    </ion-buttons>
    <ion-title>Магазин</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="close()">
        Закрыть
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="shop">
    <ul class="shop__menu">
      <li class="shop__menu__button"
          [ngClass]="{'shop__menu__button_active': equipmentPage.typePage === choosenPageType }"
          (click)="selectTab(equipmentPage.typePage)">
        <div class="shop__menu__button__text">Снаряжение</div>
      </li>
      <li *ngFor="let page of shopAbilitiesPages.pages"
          class="shop__menu__button"
          [ngClass]="{'shop__menu__button_active': page.typePage === choosenPageType }"
          (click)="selectTab(page.typePage)">
        <div class="shop__menu__button__text">{{page.title}}</div>
      </li>
    </ul>

    <main class="shop__content">
      <ng-template #container></ng-template>
    </main>

    <div class="shop__footer">
      <div *ngIf="selectedHero || true" class="shop__footer__buy-section">
        <app-button class="buy-button"
                    expand="full"
                    name="Купить"
                    size="small"
                    [animated]="isSelectedAvailable"
                    [color]="isSelectedAvailable ? 'success' : 'light'"
                    [disabled]="!isSelectedAvailable"
                    [transparent]="true"
                    (clicked)="buy()"></app-button>
      </div>

      <div class="shop__footer__heroes">
        <heroes-info-short [heroes]="heroes"
                          [isNewHeroAvailable]="isNewHeroAvailable"
                          (addedHero)="addHero()"
                          (selectedHero)="choseHero($event)"></heroes-info-short>
      </div>
    </div>
  </div>
</ion-content>
