@import "theme/mixins.scss";

.container {
  @include default-background;

  .header {
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    opacity: 0.5;
  }
}
