
.field {
  display: grid;
  align-items: center;
  justify-content: center;
}

.cell {
  height: 100%;
  width: 100%;

  &_animation {
    animation: animate-in linear forwards;
  }
}

.popover-event-attack .popover-event-search .popover-content {
  width: 35vw;
}

.popover-event-treasures .popover-content {
  width: auto;
}

@keyframes animate-in {
  0% {}
  100% {
    transform: translate(0, 0) scale(1);
    box-shadow: none;
  }
}
