@import "theme/mixins.scss";

.settings {
  @include default-background;

  &__header {
    min-height: auto;
    --background: transparent;
    color: white;

    &__name {
      font-weight: bold;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vh;
    justify-content: space-around;
    padding: 5vh;
    background: transparent;
    color: white;
  }
}
