.hero-info-short {
  display: grid;
  grid-template-rows: auto;
  align-items: end;
  height: 100%;
  background-size: cover;
  border-radius: 2vh;
  overflow: hidden;
  font-size: 3.0vh;
  font-weight: bold;
  color: red;

  &_selected {
    box-shadow: 0 0 1vh 1vh gold;
    border-radius: 3vh;
  }

  &__hitpoints {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
  }
}
