<div class="creatures"
      [ngStyle]="{ 'grid-template-columns': 'repeat(' + creaturesCount + ', minmax(10vh, auto))' }">
  <ng-container *ngFor="let creature of creatures">
    <div class="creatures__creature"
        [@scaleCurrentCharacter]="creature.id === currentCreatureId ? 'currentCharacter' : ''"
        [ngClass]="{ 'creatures__creature_selected': creature.id === selectedCreatureId }"
        [ngStyle]="{
          'height': (28 - creaturesCount * 1.5) + 'vh',
          'width': (28 - creaturesCount * 1.5) + 'vh'
        }"
        (click)="select(creature.id)">
      <creature-info-short [creature]='creature'></creature-info-short>
    </div>
  </ng-container>
</div>
