
<ion-content class="map" forceOverscroll="false">
  <ion-toolbar class="map__title">
    <ion-buttons slot="start">
      <gold></gold>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="openShop()">
        <ion-img class="menu-item" src="assets/img/menu/shop.svg"></ion-img>
      </ion-button>
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="openInventory()">
        <ion-img class="menu-item" src="assets/img/menu/inventory.svg"></ion-img>
      </ion-button>
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="openStatistic()">
        <ion-img class="menu-item" src="assets/img/menu/statistics.svg"></ion-img>
      </ion-button>
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="openSettings()">
        <ion-img class="menu-item" src="assets/img/menu/settings.svg"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <field></field>

</ion-content>
