<div class="cell">
  <div class="cell__background"
      [inlineSVG]="image"
      [ngClass]="{
        'top-way_enabled': cell?.paths?.top,
        'right-way_enabled': cell?.paths?.right,
        'bottom-way_enabled': cell?.paths?.bottom,
        'left-way_enabled': cell?.paths?.left
      }"
      (click)="click()"></div>
  <img *ngIf="existsBattleEvent"
       src="{{imageBattleEvent}}"
       class="cell__battle-event"
       [ngClass]="{'cell__battle-event_exists-boss': existsBoss }"
       (click)="clickEvent()">
  <img *ngIf="existsSearchEvent"
       src="{{imageSearchEvent}}"
       class="cell__search-event"
       (click)="clickEvent()">
  <img *ngIf="existsCave"
       src="{{imageCave}}"
       class="cell__cave"
       (click)="clickEvent()">
  <img *ngIf="existsTreasures"
       src="{{imageTreasures}}"
       class="cell__treasures"
       (click)="clickEvent()">
       <!--<span *ngIf="cell" class="cell__info">X:{{cell.x}}-Y:{{cell.y}}</span>-->
</div>
