@import "theme/mixins.scss";

.content {
  @include default-background;

  main {
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: 28vh 44vh 28vh;
    grid-template-areas: "monster monster"
                          "creatures dices"
                          "hero hero";

    .target {
      &_monster {
        grid-row: monster;
        grid-column: monster;
      }
      &_hero {
        grid-row: hero;
        grid-column: hero;
      }
    }

    .creatures {
      grid-row: creatures;
      grid-column: creatures;
      max-width: calc(100vw - 16vh);
      /* background-color: gray; */
    }

    .dices {
      grid-row: dices;
      grid-column: dices;
      width: 16vh;
      display: grid;
      grid-template-rows: 1fr 1fr;
      background-color: brown;
      justify-items: center;
      align-items: center;

      &__target-dice, &__value-dice {
        height: 12vh;
        width: 12vh;
      }
    }
  }

  .display-blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: olive;
    opacity: .3;
  }
}
