@import "theme/mixins.scss";

.content {
  @include default-background;

  main {
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: 28vh 44vh 28vh;
    grid-template-areas: "monster monster"
                          "creatures action-panel"
                          "hero hero";

    .target {
      &_monster {
        grid-row: monster;
        grid-column: monster;
      }
      &_hero {
        grid-row: hero;
        grid-column: hero;
      }
    }

    .creatures {
      grid-row: creatures;
      grid-column: creatures;
      max-width: calc(100vw - 16vh);
    }

    .action-panel {
      grid-row: action-panel;
      grid-column: action-panel;
      display: grid;
      grid-template-rows: 20vh 1fr;
      width: 30vh;

      .dices {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-content: end;
        padding-bottom: 2vh;

        &__target-dice, &__value-dice {
          height: 12vh;
          width: 12vh;
          margin: 1vh;
        }
        &__target-dice {
          align-self: end;
        }
        &__value-dice {
          align-self: start;
          position: relative;
          z-index: 1;

          &_active::before {
            content: '';
            position: absolute;
            top: -.5vh;
            left: -.5vh;
            background: linear-gradient(30deg, #296739, #b99c33, #296739, #b99c33);
            background-size: 200%;
            width: calc(100% + 1vh);
            height: calc(100% + 1vh);
            z-index: -1;
            filter: blur(1vh);
            animation: animate-active-dice 3s linear infinite;
          }
        }
      }

      .description {
        color: white;

        &__name {
          text-align: center;
          font-size: 3vh;
          font-weight: bold;
          border-bottom: 1px solid white;
        }

        &__content {
          font-size: 3vh;
        }
      }
    }
  }

  .display-blocker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: olive;
    opacity: .3;
  }
}

@keyframes animate-active-dice {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
