<ion-content class="content" forceOverscroll="false">
  <main>
    <target [isShownAbilities]="false"
            [creature]="targetMonster"
            class="target target_monster"></target>

    <creatures-list class="creatures"
                    [creatures]="liveCreatures"
                    [currentCreatureId]="currentCreatureId"
                    [selectedCreatureId]="selectedCreatureId"
                    [lastCreatureInRound]="lastCreatureInRound"
                    [currentRound]="currentRound"
                    (selectCreature)="onSelectCreature($event)">
    </creatures-list>

    <div class="action-panel">
      <div class="dices">
        <dice-target class="dices__target-dice"
                      (click)="clickTarget()"></dice-target>
        <dice [dice]="6"
              class="dices__value-dice"
              [ngClass]="{'dices__value-dice_active': !waiting}"
              (click)="useAbility()"></dice>
      </div>
      <div class="description">
        <ng-container *ngIf="!!selectedHeroAbility">
          <div class="description__name">{{selectedHeroAbility.name}}</div>
          <div class="description__content">{{selectedHeroAbility.description}}</div>
        </ng-container>
      </div>
    </div>

    <target [isHero]="true"
            [isShownAbilities]="true"
            [creature]="targetHero"
            [selectedAbilityType]="selectedHeroAbilityType"
            (selectAbilityType)="onSelectAbilityType($event)"
            class="target target_hero"></target>
  </main>

  <div *ngIf="waiting" class="display-blocker"></div>
</ion-content>
