<ng-container *ngIf="shopEquipment">
  <div class="type-equipment">
    <img src="assets/img/dice.png" alt="игральная кость"/>
  </div>

  <div *ngFor="let e of equipment"
        class="type-equipment">
    <img src="{{e.img}}" alt="тип снаряжения"/>
  </div>

  <div class="hitpoints">
    <img src="{{shopEquipment.hitpoints.img}}" alt="очки здоровья"/>
  </div>

  <div class="values">
    <div *ngFor="let itemValue of itemValues"
          class="values__value"
          [ngClass]="{ 'values__value_quality_good': itemValue.value >= 4 }"
          [ngStyle]="{ 'color': itemValue.color }">
      +{{itemValue.value}}
    </div>
  </div>
  <div *ngFor="let e of equipment" class="values">
    <div *ngFor="let item of (e.items | availableItems: choosenHero)"
          [@flyInOutLeft]="'in'"
          class="values__value"
          [ngClass]="{
                      'values__value_not-available-price': item.cost > playerGold,
                      'values__value_selected': isSelectedItem(e.itemType, item.value)
                    }"
          (click)="selectItem(e.itemType, item)">
      {{item.cost}}
      <span *ngIf="!!item.availableCount && !isSelectedItem(e.itemType, item.value)"
            class="values__value__item-count">
        {{item.availableCount | itemCount}}
      </span>
    </div>
  </div>
  <div class="values">
    <div *ngFor="let item of (shopEquipment.hitpoints.items | availableHitPoints: choosenHero)"
          [@flyInOutRight]="'in'"
          class="values__value"
          [ngClass]="{
                      'values__value_not-available-price': item.cost > playerGold,
                      'values__value_selected': isSelectedHitpoints(item.value)
                    }"
          (click)="selectHitpoints(item)">
      {{item.cost}}
      (<span class="values__value__hitpoints-value">
        +{{item.value}}
      </span>)
    </div>
  </div>
</ng-container>
