:host {
  background-image: radial-gradient(ellipse 120% 50% at 55% 75%,black 0%, #1a3838eb 50%, black 90%);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: animate-frog 8s linear infinite;
}

.monsters {
  text-align: center;
  position: relative;
  height: 30vh;
  margin-top: 10vh;
  margin-bottom: 10vh;

  &__boss, &__level2, &__level1 {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__level2, &__level1 {
    bottom: 0;
  }
}

.image {
  position: relative;
  filter: blur(1px);
  z-index: -1;

  &_boss {
    height: 30vh;
  }
  &_level2 {
    height: 21vh;
    margin-left: -7vh;
    margin-right: -7vh;
  }
  &_level1 {
    height: 15vh;
    margin-left: -4vh;
    margin-right: -4vh;
  }
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1vh;

  .attack, .run-away {
    z-index: 100;
    height: 20vh;
    width: 20vh;
  }

  .attack ::ng-deep .sword {
    transform-origin: 25% 75%;
    animation: animate-sword 4s ease-in infinite;
  }
  .attack ::ng-deep .axe {
    transform-origin: 75% 75%;
    animation: animate-axe 4s ease-in infinite;
  }

  .run-away ::ng-deep .helmet {
    transform-origin: 50% 25%;
    animation: animate-helmet 1s ease-in-out infinite;
  }
  .run-away ::ng-deep .hero-hand-left, .run-away ::ng-deep .shield {
    transform-origin: 50% 25%;
    animation: animate-hero-hand-left 1s ease-in-out infinite;
  }
  .run-away ::ng-deep .hero-hand-right {
    transform-origin: 50% 25%;
    animation: animate-hero-hand-right 1s ease-in-out infinite;
  }
  .run-away ::ng-deep .hero-leg-left {
    transform-origin: 60% 70%;
    animation: animate-hero-leg-left 1s ease-in-out infinite;
  }
  .run-away ::ng-deep .hero-leg-right {
    transform-origin: 60% 70%;
    animation: animate-hero-leg-right 1s ease-in-out infinite;
  }
}

@keyframes animate-frog {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-sword {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes animate-axe {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes animate-helmet {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes animate-hero-hand-left {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes animate-hero-hand-right {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}


@keyframes animate-hero-leg-left {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes animate-hero-leg-right {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
