:host {
  background-image: radial-gradient(ellipse 120% 50% at 55% 75%,black 0%, #1a3838eb 50%, black 90%);
}

.header {
  margin-top: 3vh;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  color: white;
}

.monsters {
  text-align: center;
  position: relative;
  height: 30vh;

  &__boss, &__level2, &__level1 {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__level2, &__level1 {
    bottom: 0;
  }
}

.image {
  position: relative;
  filter: blur(1px);
  z-index: -1;

  &_boss {
    height: 30vh;
  }
  &_level2 {
    height: 21vh;
    margin-left: -7vh;
    margin-right: -7vh;
  }
  &_level1 {
    height: 15vh;
    margin-left: -4vh;
    margin-right: -4vh;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5vh;
  padding: 1vh;
}
