<h2 class="header">Монстры</h2>

<div class="monsters">
  <div class="monsters__boss">
    <img *ngIf="existsBoss"
          src="{{monsterBossImage}}"
          class="cell-image"
          alt="босс">
  </div>
  <div class="monsters__level2">
    <img *ngFor="let image of monstersLevel2"
          src="{{image}}"
          class="cell-image"
          alt="монстр 2 уровня">
  </div>
  <div class="monsters__level1">
    <img *ngFor="let image of monstersLevel1"
          src="{{image}}"
          class="cell-image"
          alt="монстр 1 уровня">
  </div>
</div>

<div class="buttons">
  <ion-button fill="solid"
              color="danger"
              size="small"
              (click)="attack()">Напасть!</ion-button>
  <ion-button fill="solid"
              color="dark"
              size="small"
              (click)="close()">Отмена</ion-button>
</div>
