:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.ability-list, .ability-info {
  max-height: 51vh;
  min-height: 51vh;
  margin: 2vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.ability-list {
  overflow: auto;

  &__ability {
    &__img {
      min-height: 10vh;
      min-width: 10vh;
      max-height: 10vh;
      max-width: 10vh;
    }

    &__name {
      white-space: normal;
    }

    &__cost {
      img {
        height: 5vh;
        width: 5vh;
      }
    }

    &_not-available-price {
      opacity: .3;
    }

    &_selected {
      .ability-list__ability__name, .ability-list__ability__cost {
        color: black;
        font-weight: bold;
      }
    }
  }
}

.ability-info {
  padding: 2vh;

  &__title {
    text-align: center;
    font-size: 5.5vh;
    font-weight: bold;
    color: lightsteelblue;
  }

  &__property {
    text-align: center;
    font-size: 4.0vh;
    color: lightskyblue;
  }

  &__description {
    margin-top: 2vh;
    text-align: center;
    color: white;
  }
}
