<ion-list class="ability-list" [@flyInOut]="'in'">
  <ion-item *ngFor="let ability of availableAbilities"
            class="ability-list__ability"
            [color]="isSelectedAbility(ability) ? 'medium' : 'dark'"
            [ngClass]="{
              'ability-list__ability_not-available-price': !isAvailablePrice(ability.cost),
              'ability-list__ability_selected': isSelectedAbility(ability)
            }"
            (click)="selectAbility(ability)">
    <ion-thumbnail class="ability-list__ability__img"
                  slot="start">
      <img src="{{ability.image}}">
    </ion-thumbnail>

    <ion-label class="ability-list__ability__name" text-wrap>
      <p>{{ability.name}}</p>
    </ion-label>

    <div class="ability-list__ability__cost"
        slot="end">
      {{ability.cost}}
      <img src="assets/img/gold.png" alt="монета" title="" />
    </div>
  </ion-item>
</ion-list>

<div class="ability-info" [@flyInOut]="'in'">
  <ng-container *ngIf="choosenAbility">
    <div class="ability-info__title">{{choosenAbility.name}}</div>
    <div class="ability-info__property"
        *ngFor="let prop of propertiesDescription">{{prop}}</div>
    <div class="ability-info__description">{{choosenAbility.description}}</div>
  </ng-container>
</div>
